* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: black;
  color: white;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-holder {
  flex: 1;
  overflow-y: auto;
}

.container {
  padding: 10px;
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;

}

.infoBlock {
  align-content: flex-start;
  padding: 10px;
  border: dashed white 2px;
  border-radius: 10px;
}

.font-face-hussar {
  font-family: 'Courier New', monospace;
}


.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  /*align-items: center;*/
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  /*padding: 0.1rem;*/
  /*border: 1px solid #ebebeb;*/
  /*border-radius: 31rem;*/
  text-decoration: none;
}

.show-counter .countdown {
  line-height: 1.25rem;
  /*padding: 0 0.1rem 0 0.1rem;*/
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.btn {
  background: dodgerblue;
  border-radius: 0.25rem;
}

.boost {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.boost-not-activated {
  width: 30px;
  height: 30px;
}
.boost-activated {
  width: 50px;
  height: 50px;
}